@CHARSET "UTF-8";
/* 인트로 */
#intro-wrap{
	width: 100%;
	border: 1px solid black;
}
.intro-contents{
	width: 80%;
	height: 200px;
	border: 1px solid #cccccc;
	margin: 0 auto;
}
.intro-left{
	float: left;
}
.intro-right{
	float: right;
}

/* 컨텐츠 */
.contents{
		height: 200px;
		width: 400px;
		border: 1px solid black;
		float: left;
		margin: 10 10px;
	}
	.contents-top{
		height: 70%;
		border: 1px solid black;
	}
	.contents-middle{
		height: 15%;
		border: 1px solid black;
	}
	.contents-bottom{
		height: 15%;
		border: 1px solid black;
	}
	.contents-top-left{
		height: 100%;
		width: 30%;
		float: left;
	}
	.contents-top-left img{
		border: 1px solid black;
		border-radius: 50%;
	}
	.contents-top-rigth{
		width: 60%;
		height: 100%;
		float: right;
		margin-right: 10px;
		padding-top: 10px;
	}
	.contents-top-rigth p{
		height: 14px;
		font-size: 13px;
	}
	#search-result{
		width: 1300px;
	}
	.state{
		width: 80px;
		float: right;
		margin-top: 2px;
		margin-right: 5px;
		border: 1px solid black;
		text-align: center;
	}
	#state0{
		background-color: #ffcccc;
	}
	#state1{
		background-color: #c6ebc6;
	}
	.load-more{
		width: 100%;
	}