@CHARSET "UTF-8";
#contents-body{
	width: 700px;
	letter-spacing: 1px;
	margin: 20px auto;
}
#list-img{
	color: #666666;
	font-size: 30px;
}
#list-img img{
	width: 40px;
	height: 40px;
}
.table-condensed{
	width: 100%;
	margin-top: 20px;
}
.count{
	text-align: center;
	width: 7%;
}
.id{
	width: 13%;
}
.name{
	width: 15%;
}
.phone{
	width: 25%;
}
.email{
	width: 25%;
}
.money{
	widows: 15%;
}