@CHARSET "UTF-8";

.search_left {
	width: 200px;
	float: left;
}

.search_right {
	width: 400px;
	float: right;
}

table {
	margin: 10px auto;
}

tr.head {
	background-color: #808080;
	color: white;
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-align: center;
	border-top: solid #808080 2px;
	border-bottom: solid #808080 2px;
	/* background-color: #ff6600;
	color: white;
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-align: center;
	border-top: solid black 2px;
	border-bottom: solid black 2px; */
}

tr.body {
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.boardView{
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	cursor: pointer;
}

td {
	padding: 10px;
	text-align: center;
}
.titleSpan{
	font-family: Montserrat, sans-serif;
}

.paging{
	text-align: center;
	margin: 0 auto;
}

.go{
	font-size : 1.2em;
	cursor: pointer;
}

.btnBox{
	text-align: right;
}

/* write-form */
.write-tdName {
	background-color: #000000;
	color: white;
}

.write-tdWrite {
	background-color: #ffffff;
}

.td_radio {
	height: auto;
	padding: 0px 10px 0px 10px;
	text-align: left;
}