@CHARSET "UTF-8";

#searchResult{
	margin-top: 50px;
}

.searchResultWrap{
	width: 1000px;
	height: 220px;
	margin: 10px auto;
	cursor: pointer;
	background-color: white;
	border-radius: 10px;
}

.searchResultWrap-left{
	width: 190px;
	height: 205px;
	margin-top: 10px;
	margin-left: 10px;
	float: left; 
}

.searchResultWrap-left img{
	width: 180px;
	height: 200px;
}

.searchResultWrap-right{
	width: 780px;
	height: 200px;
	margin-top: 10px;
	float: left;
}

#searchForm{
	width: 1000px;
	margin: 20px auto;
}

.search_table {
	width: 1000px;
	margin: 0 auto;
}

#searchForm table tr{
	height: 42px;
}

/* #searchForm table input, select{
	margin-left: 15px;
	height: 30px;
} */

#searchForm select{
	width: 140px;
}

#title, #director, #actor{
	width: 98%;
}

#yearMin, #yearMax{
	width: 140px;
}

.title{
	width: 30%;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-indent: 10px;
	text-align: center;
}

td.top_left {
	border-top-left-radius: 10px;
}

td.bottom_left {
	border-bottom-left-radius: 10px;
}
	
td.top_right {
	border-top-right-radius: 10px;
}

td.bottom_right {
	border-bottom-right-radius: 10px;
}

.input{
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

#searchBtn{
	width: 100%;
	height: 42px;
	float: right;
	margin-top: 10px;
	background-color: black;
	color: white;
	border-radius: 5px;
}

/* 별점 */
.star-rating{ 
	width: 100px;
}

.star-rating,.star-rating span{ 
	display:inline-block; 
	height:19px; 
	overflow:hidden; 
	background:url(../../resources/images/movie/star.png)no-repeat; 
}

.star-rating span{ 
	background-position:left bottom; 
	line-height:0; 
	vertical-align:top; 
}

.form-group {
	width: 157px;
}

.point {
	font-size: 1.1em;
	color: black;
	font-weight: bold;
}

.paging{
	text-align: center;	
}

.go{
	font-size : 1.2em;
	cursor: pointer;
}