@CHARSET "UTF-8";

/* side-Menu */
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.5s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    position: fixed;
    z-index: 5;
    border: double white 1px;
}

#mySidenav a:hover {
    left: 0;
}

#intro{
	background-color: black;
}

#notice {
	background-color: black;
    color: white;
    top: 20px;
}

#login {
	background-color: black;
    color: white;
    top: 80px;
}

#logout {
	background-color: black;
    color: white;
    top: 80px;
    cursor: pointer;
}


#movie {
	background-color: black;
    color: white;
    top: 140px;
    cursor: pointer;
}

#user {
	background-color: black;
    color: white;
    top: 200px;
    cursor: pointer;
}
