<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaidMovieMapper">
	<select id="movieList" parameterType="java.util.Map" resultType="com.moco.paidMovie.PaidMovieDTO">
		select * from
		(select rownum R, P.* from
		(select * from paidMovie where oname like '%'||#{search}||'%' order by num desc) P)
		where R between #{row.startRow} and #{row.lastRow}
	</select>
	
	<!-- eunji -->
	<select id="payMovieBasic" parameterType="java.util.Map" resultType="com.moco.movieAPI.BasicMovieDTO">
		select * from 
		(select * from 
		(select rownum r, b.* from 
		(select basicmovie.* from basicmovie, paidmovie where basicmovie.num=paidmovie.bnum) b) 
		where title like '%'||#{title}||'%' or eng_title like '%'||#{title}||'%') where r between #{rowMaker.startRow} and #{rowMaker.lastRow} 
		
		<!-- select * from 
		(select rownum r, b.* from 
		(select basicmovie.* from basicmovie, paidmovie 
		where basicmovie.num=paidmovie.bnum and basicmovie.title like '%'||#{title}||'%' 
		and basicmovie.eng_title like '%'||#{title}||'%' order by basicmovie.num desc) b) 
		where r between #{rowMaker.startRow} and #{rowMaker.lastRow} -->
		
		<!-- select * from (select rownum r, b.* from 
		(select basicmovie.* from basicmovie, paidmovie where basicmovie.num=paidmovie.bnum 
		order by basicmovie.num desc) b) where r between #{rowMaker.startRow} and #{rowMaker.lastRow} -->
	</select>
	
	<select id="payMovieLow" parameterType="java.util.Map" resultType="com.moco.lowpricemovie.LowPriceMovieDTO">
		select * from
		(select rownum r, l.* from
		(select lowpricemovie.* from lowpricemovie,paidmovie where lowpricemovie.num=paidmovie.lnum and 
		lowpricemovie.title like '%'||#{title}||'%' order by lowpricemovie.num desc) l)
		where r between #{rowMaker.startRow} and #{rowMaker.lastRow}
		
		<!-- select * from (select rownum r, l.* from 
		(select lowpricemovie.* from lowpricemovie, paidmovie where lowpricemovie.num=paidmovie.lnum) l) 
		where r between #{rowMaker.startRow} and #{rowMaker.lastRow} -->
	</select>
	
	<select id="payMovieBasicCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(num) from (select paidmovie.* from paidmovie, basicmovie where basicmovie.title like '%'||#{title}||'%' and paidmovie.bnum>0 and paidmovie.bnum=basicmovie.num)
	</select>
	
	<select id="payMovieLowCount" resultType="java.lang.Integer">
		select count(num) from paidmovie where lnum>0
	</select>
	
	<!-- Basic List -->
	<select id="basicMovieList" resultType="com.moco.paidMovie.PaidMovieDTO">
		select * from paidMovie where bnum > 0 order by num desc
	</select>
	<!-- Low List -->
	<select id="lowMovieList" resultType="com.moco.paidMovie.PaidMovieDTO">
		select * from paidMovie where lnum > 0 order by num desc
	</select>
	<select id="movieOne" parameterType="java.lang.Integer" resultType="com.moco.paidMovie.PaidMovieDTO">
		select * from paidMovie where num=#{num}
	</select>
	<!-- 무비번호로 title 얻어오기 -->
	<select id="basicTitle" parameterType="java.lang.Integer" resultType="java.lang.String">
		select title from basicMovie where num=#{num} 
	</select>
	<select id="lowTitle" parameterType="java.lang.Integer" resultType="java.lang.String">
		select title from lowPriceMovie where num=#{num} 
	</select>
	<insert id="movieInsert" parameterType="com.moco.paidMovie.PaidMovieDTO">
		insert into paidMovie values(NVL((select max(num) from paidMovie),0)+1, #{price}, #{fname}, #{oname}, #{bNum},#{lNum})
	</insert>
	<update id="movieUpdate" parameterType="com.moco.paidMovie.PaidMovieDTO">
		update paidMovie set price=#{price}, fname=#{fname}, oname=#{oname} where num=#{num}
	</update>
	<delete id="movieDelete" parameterType="java.lang.String">
		delete from paidMovie where fname=#{fileName}
	</delete>
	<select id="movieTotalCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(num) from paidMovie where oname like '%'||#{search}||'%'
	</select>
	<!-- SUZI -->
	<select id="paidMovieSelectOne" parameterType="java.util.Map" resultType="com.moco.paidMovie.PaidMovieDTO">
		select * from paidmovie 
		<if test="kind == 'basic'">
			where bnum=#{num}
		</if>
		<if test="kind == 'low'">
			where lnum=#{num}
		</if>
	</select>
	
	<!-- movieRequest 연관 -->
	<select id="basicSearch" parameterType="com.moco.movieAPI.BasicMovieDTO" resultType="com.moco.movieAPI.BasicMovieDTO">
		select * from basicMovie where num=#{num} and title=#{title}
	</select>
	<delete id="movieRequestDelete" parameterType="com.moco.movieRequest.MovieRequestDTO">
		delete from movieRequest where bnum=#{bNum} and lnum=#{lNum}
	</delete>
</mapper>