<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PointMapper">
	
	<select id="pointList" parameterType="java.util.Map" resultType="com.moco.point.PointDTO">
		select * from
		(select rownum R, P.* from
		(select * from point where id=#{id} order by num desc ) P)
		where R between #{row.startRow} and #{row.lastRow}
	</select>
	
	<insert id="pointInsert" parameterType="com.moco.point.PointDTO">
		insert into point values(NVL((select max(num) from point),0)+1, #{id}, #{kind}, #{likes}, #{cash}, #{point}, sysdate, #{benefit})	
	</insert>
	<update id="pointInsert2" parameterType="com.moco.point.PointDTO">
		update member set point=point+#{point} where id=#{id}
	</update>
	<!-- 좋아요 결제시 avaliableLikes 차감 -->
	<update id="avaliableLikesUpdate" parameterType="com.moco.member.MemberDTO">
		update member set avaliableLikes=#{avaliableLikes} where id=#{id}
	</update>

	<select id="totalCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(num) from point where id=#{id}
	</select>

</mapper>