<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="TheaterMapper">
	<resultMap type="java.util.HashMap" id="finalMap" />
	
	<update id="commitUpdate" parameterType="java.lang.Integer">
		update theater set commit=1 where num=#{num}
	</update>
	
	<select id="unCommitTotalCount" resultType="java.lang.Integer">
 		select count(num) from theater where commit=0
	</select>
	<select id="totalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
 		select count(num) from theater where commit=1
 		<if test="kind == 'name'">
 			and name like '%'||#{search}||'%'
 		</if>
	</select>
	
	<select id="unCommitList" parameterType="com.moco.util.RowMaker" resultType="com.moco.theater.TheaterDTO">
		select * from 
		(select rownum R, T.* from 
		(select * from theater where commit=0
		order by num desc) T) 
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="list" parameterType="java.util.Map" resultType="com.moco.theater.TheaterDTO">
		select * from 
		(select rownum R, T.* from 
		(select * from theater where commit=1
		<if test="kind == 'name'">
			and name like '%'||#{search}||'%'
		</if>
		order by num desc) T) 
		where R between #{row.startRow} and #{row.lastRow}
	</select>
    
    <insert id="theaterRequest" parameterType="java.util.Map" statementType="CALLABLE" >
    	{ CALL theaterRequest(
	    	#{theaterDTO.name, mode=IN}, 
	    	#{theaterDTO.location, mode=IN}, 
	    	#{theaterDTO.phone, mode=IN}, 
	    	#{theaterDTO.price, mode=IN}, 
	    	#{theaterDTO.opening_time, mode=IN}, 
	    	#{theaterDTO.commit, mode=IN}, 
	    	#{multiplexDTO.name, mode=IN}, 
	    	#{multiplexDTO.totalseat, mode=IN},  
	    	#{result, javaType=int, mode=OUT, jdbcType=INTEGER, resultMap=finalMap}) }
    </insert>	
   
	<select id="view" parameterType="java.lang.Integer" resultType="com.moco.theater.TheaterDTO">
		select * from theater where num=#{num}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete theater where num=#{num}
	</delete>
	
	<insert id="insert" parameterType="com.moco.theater.TheaterDTO">
		insert into theater values(NVL((select max(num) from theater), 0)+1, #{name}, #{location}, #{phone}, #{price}, #{opening_time}, #{commit})
	</insert>
</mapper>